.movie-card {
  width: 15rem; /* Fixed width */
  margin: 10px; /* Spacing between cards */
  height: 100%; /* Make cards take full height */
  display: flex;
  flex-direction: column;
}

.movie-card-img {
  height: 15rem; /* Fixed image height */
  object-fit: cover; /* Make the image fit properly */
}

.movie-card-body {
  flex-grow: 1; /* Make the card body grow to take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card-title {
  font-size: 1.2rem; /* Adjust the font size for the title */
  text-align: left;
}

.movie-card-text {
  font-size: 0.9rem; /* Adjust font size for the text */
  color: gray;
  text-align: left;
}
